body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nav-list li {
    float: left;
    text-align: center;
    font-size: 1.5em;
    margin-left: 3%;
    padding: 10px;
    background-color: #d7d7d7;
    border-radius: 5px;
    width: 15%;
}

.nav-list {
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.answers button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #808080;
    border: none;
    border-radius: 5px;
    width: 200px;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    box-shadow: #333 0 4px;
}

    .answers button:hover {
        opacity:.7;
    }

.page-header h1,.page-header h2 {
    text-align: center;
}

.page-header h1 {
    text-transform: uppercase!important;
    font-weight: bold;
}

 .page-header h2 {
    color: #555;
}

.panel-title {
    text-align: center;
    font-size: 2em;
}

.correct-answer {
    display: none;
}

.correct {
    background-color: #00FF00!important;
}

.fail {
    background-color: #FF0000!important;
}