@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Trivia App</h1>
</div>

<div class="row">


    <div class="col-md-8 col-md-push-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong></strong><h2 class="panel-title" data-bind="text: detail().Question"></h2></strong>
            </div>
            
            <table class="table">
                <tr><td data-bind="text: detail().Answer1"></td></tr>
                <tr><td data-bind="text: detail().Answer2"></td></tr>
                <tr><td data-bind="text: detail().Answer3"></td></tr>
                <tr><td data-bind="text: detail().Answer4"></td></tr>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 col-md-push-4">
        <ul class="list-unstyled nav-list" data-bind="foreach: questions">
            <li>
               <small><a href="#" data-bind="click: $parent.getQuestionDetail"><span data-bind="text: Id"></span></a></small>
            </li>
        </ul>
    </div>

</div>
